@model NumericSequenceWeb.Models.ResultViewModel
@{
    ViewBag.Title = "Result";
}

@using (Html.BeginForm("Result", "Home", FormMethod.Post))
{
<input type="text" name="num"/>
<input type="submit" value="Submit" />
}

<h2>Result</h2>

@if (Model.Number != 0)
{
    <p>All</p>

   <p>@Model.AllList</p>

    <p>Odd</p>
    <p>@Model.OddList</p>

    <p>Even</p>
    <p>@Model.EvenList</p>

    <p>Multipler</p>
    <p>@Model.MultiplerList</p>

    <p>Fibonacci</p>
    <p>@Model.FibonacciList</p>
}